.search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.search .searchBar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
}

.search .searchBar .input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
}

.search .searchBar .img {
    width: 20px;
    height: 20px;
}

.search .add {
    width: 40px;
    height: 40px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
